# Node modules
node_modules

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# The development sqlite file
database/development.sqlite


credentials.json

token.json


Cdm-teste-e1b2cb3277d8.json